body{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: white;
    /*background-color: #7e609e;*/
    width: 100%;
    height: 100%;

}
h1{
    font-size: 70px;
    text-shadow: 3px 0px 2px #f9f9f9;
    margin: 0 0 10px 0;
    text-align: center;
}
#canvas1{
    box-shadow: inset 0 0 20px 1px #757575;
    border-radius: 10px;
}
.canvas-wrapper{
    width: 1400px;
    height: 700px;
    box-shadow: 0 0 20px 1px #757575;
    border-radius: 10px;
    transition: .5s
}
.canvas-wrapper:hover{
    box-shadow: 0 0 30px 2px #484848;
}
.main{
    display: flex;
}
.left_col{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.left_col div{
    border: 1px solid #00000059;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 20px 1px #75757587;
    background: #91919140;
    transition: .5s;
}
.left_col div:hover{
    box-shadow: 0 0 20px 1px #757575;
    background: #919191b5;
}
#color{
    width: 20px;
    height: 20px;
    background-color: black;
}
button{
    transition: .5s;
    margin-top: 5px;
    height: 30px;
    width: 150px;
    font-size: 17px;
    border-radius: 5px;
}
p{
    margin:0 0 5px 0;
}
input[type='text'], select{
    height: 30px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
}
#coordinates{
    font-size: 18px;
    font-weight: bold;
}
.controls > p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.divTab{
    min-width: 90px;
    height: 30px;
    background-color: #717171;
    margin: 0 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    box-shadow: 0 0 5px -2px black;
    transition: .2s;
}
.divTab:nth-child(2n){
    background-color: #4f5475;
}
.divTab:hover, .divLayer:hover{
    box-shadow: 0 0 8px 0 #000000b5;
}

.divLayer{
    min-width: 110px;
    height: 30px;
    background-color: #7e609e;
    margin: 0 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    box-shadow: 0 0 5px -2px black;
    transition: .2s;
}
.divLayer:nth-child(2n){
    background-color: #427974;
}
#addTab, #addLayer{
    /*background: #000000b5;*/
    border: 0;
    min-width: 100px;
    border-radius: 7px;
    margin-bottom: 5px;
    padding: 4px 10px;
    font-size: 16px;
    /*color: white;*/
    height: 50px;
}
#tabs>input:focus, #Layers>input:focus{
    outline: none;
}
.btnTab, .divLayer>button{
    margin-top:0;
    width: 25px;
    height: 25px;
    background-color: #484848;
    color: white;
    font-size: 19px;
    border-radius: 5px;
}
#blockTabs, .blockL{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 1000px;
    padding: 10px 0;
    background: #f9f9f9;
    height: 50px;
    border-radius: 20px 20px 0 0;
}

/*скрываем все канвасы*/
.canvas-wrapper{

}
#canvasWrapper{
    /*display:none;*/
}
#canvasWrapper:first-child{
    display:block;
}
/*показываем только первый контент*/
.canvas-wrapper:first-child{
    display:block;
}

.active{
    background-color: #e95045 !important;
}
.active2{
    background-color: darkblue !important;
}
#blockTabs::-webkit-scrollbar, .blockL::-webkit-scrollbar{
    height: 10px;
    background-color: #dcdcdc;
}

#blockTabs::-webkit-scrollbar-thumb, .blockL::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #555;
}
.blockL{
    /*display: none;*/
    flex-direction: row;
}
#Layers, #tabs{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.canvas-class{
    position: relative;
}
.active3{
    background-color: #4f5475;
}
canvas{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    box-shadow: 0 0 20px 1px #75757587;
}

#changeSettings{
    text-align: center;
}
.themeBlock, .langBlock{
    border: none !important;
    box-shadow: none !important;
    padding: 0 0 !important;
}

#selectTheme, #selectLang{
    border: none;
    box-shadow: none;
    padding: 0;
}
#changeSettings button{
    width: 100px;
}
#themeBtn, #LangBtn{
    padding: 5px;
}